{% extends 'products/base.html' %}
{% load static %}

{% block css %}
<link href="{% static 'vendor/css/products.css' %}" rel="stylesheet">
<style>
      .card {
        width: 300px;
        border: 1px solid black;
        padding: 10px;
        margin: 10px;
      }

      .image {
        width: 100%;
        height: 200px;

        background-size: cover;
        background-position: center;
        margin-bottom: 10px;
      }

      h1 {
        font-size: 24px;
        margin: 0;
      }

      p {
        font-size: 16px;
        margin-top: 5px;
        margin-bottom: 0;
      }

      .price {
        font-size: 20px;
        font-weight: bold;
        margin-top: 10px;
      }

      .advantages li {
        margin-top: 5px;
        margin-bottom: 5px;
      }

      .disadvantages li {
        margin-top: 5px;
        margin-bottom: 5px;
      }

      .button {
        background-color: blue;
        color: white;
        border: none;
        padding: 10px 20px;
        font-size: 18px;
        border-radius: 5px;
        margin-top: 10px;
        cursor: pointer;
      }

      .button:hover {
        background-color: darkblue;
      }
    </style>

{% endblock %}

{% block content %}
  {% for product in products %}
          <div class="container">
  <h1>{{ product.name }} </h1>
  <img src=" {{ product.image.url }}" width="50%" height="50%"
                                 alt="">>
  <h2 class="price">Цена: {{ product.price }} руб.</h2>
  <p class="description"> {{ product.description }}</p>

  <a href="{% url 'products:basket_add' product.id %}" >
                           <button class="button">Отправить в корзину </button>
                            </a>
 </div>


                {% endfor %}
{% endblock %}